h2 {
  margin: 0;
  text-align: center;
}
.product-container {
  width: 0;
  height: 0;
  overflow: hidden;
  transition-property: all;
  transition: 2s ease-in-out;
  -webkit-transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -ms-transition: 2s ease-in-out;
  -o-transition: 2s ease-in-out;
}
.product-container.product-container-expanded {
  width: auto;
  height: auto;
}
@media only screen and (max-width: 600px) {
  .product-container.product-container-expanded {
    width: 100vw;
    height: auto;
  }
  .messagesUL {
    height: 12rem;
  }
}
.alert-message {
  color:white;
  width: 2rem;
  display: block;
  position: absolute;
  margin:0 auto;
  transform: translate(-1rem,-144px);
  height: 1rem;
  
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}
/*********************************************/
@media (pointer: none), (pointer: coarse) {
  input[type="text"],
  input[type="number"],
  textarea {
    font-size: 22px;
  }
}
/***GENERAL CONTAINER******************************************/

.product-container {
  display: flex;
  display: -webkit-flexbox;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex: none;
  width: 200px;
}

.order-container {
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.75rem;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border: 1px solid rgba(59, 89, 147, 1);
  background: rgba(102, 51, 153, 0.01);
  margin: 0.5rem;
  width: 200px;
  height: 200px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px 0px rgb(30, 15, 46, 0.5);
  -moz-box-shadow: 0px 0px 0px 0px rgb(30, 15, 46, 0.5);
  box-shadow: 0px 0px 0px 0px rgba(30, 15, 46, 0.5);
  transition: 0.5s ease-in-out all;
  -webkit-transition: 0.5s ease-in-out all;
  -moz-transition: 0.5s ease-in-out all;
  -ms-transition: 0.5s ease-in-out all;
  -o-transition: 0.5s ease-in-out all;
  text-align: center;
}
.order-container:hover,
.order-container:focus {
  -webkit-box-shadow: 0px 5px 20px 0px rgb(30, 15, 46, 0.4);
  -moz-box-shadow: 0px 5px 20px 0px rgb(30, 15, 46, 0.4);
  box-shadow: 0px 5px 20px 0px rgb(30, 15, 46, 0.4);
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
}
.img-container {
  width: 120px;
  height: 120px;
  z-index:0;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
img.avatar {
  max-height: 100px;
  max-width: 120px;
  z-index:0;
  width: auto;
  height: auto;
  margin-bottom: 0;
}
/************Disappear when product is shown *************/
.product-container-reduced {
  z-index: 0;
}
.product-container-reduced {
  z-index: 0;
  pointer-events: none;
}

img.avatar.avatar-reduced {
  display:none;
}
h2.name {
  margin-top: 6px;
  font-weight: 300;
}
h2.name-reduced {
  z-index: 0;
  pointer-events: none;
}

/*****************************************************/
/*Elements only displayed when product is open 
/*****************************************************/

.close-x {
  outline: 0;
  background: transparent;
  border: transparent;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: bold;
  margin: 0.5rem;
}
.product-container {
  background: rgba(59, 89, 147, 1);
  z-index: 999;
}

.input-button-container {
  width: 100%;
}
.input-button-container > form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.input-button-container > form > button {
  width: 12%;
  text-align: center;
  outline: 0;
  border: 0;
  margin-left: -1rem;
  margin-right: 1rem;
  background: transparent;
  cursor: pointer;
}
.input-button-container > form > button > img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.input-button-container > form > input {
  width: 65%;
}

.details-container {
  border:rgba(59, 89, 147, 1) 5px;
}

.detailsUL {
  background: rgba(255, 255, 255, 1);
  height: 100%;
  max-height: 60vh;
  min-height: 250px;
  overflow: auto;
  width: 100%;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  position: relative;
  bottom: 0;
  z-index:99;
}
.detailsLI {
  list-style: none;
}

/***Friend Request**/
.product-friend-request-container{
  border-radius: 0;
  border:1px white solid;
  position: relative;
}
.product-friend-request-overlay{
cursor: pointer;
position: absolute;
content:"";
background-color:transparent;
border-radius:10%;
width: 150px;
height: 150px;
opacity:0;
background-image: url(../img/addFriends.svg);
background-size: 50px;
background-repeat: no-repeat;
background-position: center;
 transition: all ease-in-out 1s;
}
.product-friend-request-overlay:hover{
  opacity:.8;
}

