button.search {
  width: 4rem;
  height: 2rem;
  border: 1px transparent solid;
  color: white;
  outline: 0;
  display: inline;
  background: rgba(59, 89, 147, 1);
  cursor: pointer;
  margin: 1rem;
}
